In [1]:
import os
import pandas as pd
from datetime import datetime

In [103]:
def fill_daily_demand_data(demand_df,dt):
    hour= dt.hour
    day=dt.day
    month=dt.month
    return demand_df[month].loc[hour,day]

    
    
def get_demand_daily():
    '''this converts the monthly demand data into daily'''
    year= 2015
    earliest, latest = f'{year}-01-01T00:00', f'{year}-12-31T23:00'
    dti = pd.date_range(earliest, latest, freq='H')
    demand_df_formatted=pd.DataFrame(columns=['datetime','value'],index=dti)
    demand_df_formatted['datetime']=demand_df_formatted['datetime'].index
    month=['January','February','March','April','May','June','July','August','September','October','November','December']
    demand_df={}
    i=1
    for m in month:
        filepath=f'demand_data_formatted\\2015_demand_data\{m}2015.xls'
        dirname=os.path.abspath('')
        filepath=os.path.join(dirname,filepath)
        demand_df[i]=pd.read_excel(filepath,'Totals',skiprows = 37,nrows=24,usecols = 'B:AF')
        i=i+1
    demand_df_formatted['value']=demand_df_formatted['datetime'].apply(lambda x : fill_daily_demand_data(demand_df,x))

    return demand_df_formatted

In [104]:
a=get_demand_daily()

In [55]:
i=1
month=['January','February','March','April','May','June','July','August','September','October','November','December']
demand_df={}
for m in month:
        filepath=f'demand_data_formatted\\2015_demand_data\{m}2015.xls'
        dirname=os.path.abspath('')
        filepath=os.path.join(dirname,filepath)
        demand_df[i]=pd.read_excel(filepath,'Totals',skiprows = 37,nrows=24,usecols = 'B:AF')
        i+=1

demand_df_formatted=pd.DataFrame(columns=['datetime','value'],index=dti)
demand_df_formatted['datetime']=demand_df_formatted['datetime'].index

In [105]:
a

                               datetime    value
2015-01-01 00:00:00 2015-01-01 00:00:00  2001.39
2015-01-01 01:00:00 2015-01-01 01:00:00  1846.01
2015-01-01 02:00:00 2015-01-01 02:00:00  1773.90
2015-01-01 03:00:00 2015-01-01 03:00:00  1674.96
2015-01-01 04:00:00 2015-01-01 04:00:00  1694.68
...                                 ...      ...
2015-12-31 19:00:00 2015-12-31 19:00:00      NaN
2015-12-31 20:00:00 2015-12-31 20:00:00      NaN
2015-12-31 21:00:00 2015-12-31 21:00:00      NaN
2015-12-31 22:00:00 2015-12-31 22:00:00      NaN
2015-12-31 23:00:00 2015-12-31 23:00:00      NaN

[8760 rows x 2 columns]

In [102]:
demand_df_formatted.iloc[300]['datetime'].day

13